/* reset.css */ a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;box-shadow:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
 font-family: "Source Sans Pro";
 font-size: 20px;
 background: #f3f3f3;
}

header {
	background: black;
	border-bottom: 3px solid yellow;
	padding: 1em 2em;
	height: 3em;
	box-sizing: content-box;
}

nav {
	float: right;
	padding-top: 1.25em;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding-left: .5em;
	font-size: 1em;
}

h1 {
	color: yellow;
	font-family: "Merriweather", serif;
	font-size: 1.5em;
	padding-top: .7em;
	padding-bottom: 1.5em;
	float: left;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
}

h3 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.75em;
	font-weight: 600;
	padding-top: .5em;
	padding-bottom: .5em;
/*	line-height: 50px;*/
	box-sizing: content-box;
}

h4 {
	font-family: "Merriweather", sans-serif;
	font-size: 1.2em;
	padding-bottom: .5em;
}

p {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

footer {
	clear: both;
}

button {
	width: 100%;
	border: none;
	background: none;
	padding: 1em 0;
}

button a {
  display: block;
  height: 2.5em;
  line-height: 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: Impact;
  color: black;
  border-radius: 5px;
  background-color: #cccccc;
  box-shadow: 0 5px 0 0 gray;
  margin-bottom: .25em;
  font-size: 1.5em;
  letter-spacing: 1px;
}

button a:hover {
	 box-shadow: none;
	 margin-top: .25em;
	 margin-bottom: 0px;
}

section {
	background: #f3f3f3;
}

footer {
	background: black;
	color: white;
	padding: 1.5em;
}

#menu {
	display: none;
}

.tagline {
	font-family: "Merriweather", serif;
	font-size: 1.25em;
	background: #C6C6C6;
	text-align: center;
	padding: 1em;
	font-style: italic;
}

.herospot {
	width: 40%;
	background: rgba(255,255,255,0.90);
	margin-left: auto;
	padding: 2em;
	border-radius: 3px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.30);
/*	box-sizing: content-box;*/
}

.hero {
	background-image: url("../images/coworking.jpg");
	background-size: cover;
	padding: 2em;
}

.hero button a {
	background-color: yellow;
	font-size: 1.5em;
}

.hero button {
	width: 100%;
}

.spot {
	/*box-sizing: content-box;*/
	padding: 0 3em;
	float: left;
	width: 33%;
	margin: 2em 0;
	border-right: 1px solid #ccc;
	vertical-align: center;
}

.spot:last-child {
	border-right: none;
}

.taste {
	color: #979797;
	text-decoration: line-through;
}

.are {
    border-bottom: solid;
    border-bottom-color: yellow;
}


@media only screen and (max-width: 960px) {
	body {
		font-size: 18px;
	}

	.herospot {
		width: 50%;
	}

	button a {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 850px) {
	body {
		font-size: 16px;
	}

	.herospot {
		width: 50%;
	}

	button a {
		font-size: 1em;
	}

	.spot {
		padding: 0 2em;
	}
}

@media only screen and (max-width: 720px) {
	body {
		font-size: 14px;
	}

	#anchors {
		position: fixed;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.8);
		top: 0;
		left: 100%;
	}

	#anchors a {
		text-align: center;
		float: none;
		display: block;
		font-size: 2em;
		padding: 2em 4em;

	}

	#menu {
		display: block;
		font-size: 1em;
		color: #fff;
		background-color: transparent;
		z-index: 1;
	}

	.herospot {
		width: 80%;
		margin: 0 auto;
	}

	h3 {
		text-align: center;
	}

	.herospot p {
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	body {
		font-size: 14px;
	}

	.herospot {
		width: 100%;
	}

	.spot {
	/*box-sizing: content-box;*/
	padding: 0 3em;
	float: none;
	width: 95%;
	margin: 2em auto;
	border-right: none;
	border-bottom: 1px solid #ccc;
	}

	.spot:last-child {
	border-bottom: none;
	}

	.spot button {
		margin: 0 auto 1em auto;
		text-align: center;
	}
}



/*Designer / Developer Nav Links
font-family: "Oswald", sans-serif;

Buttons
font-family: "Oswald";

Callout Button 
background: #C6C6C6;*/