body {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	color: yellow;
	font-family: 'Merriweather', serif;
	font-size: 30px;
}

h2 {
	font-size: 30px;
	font-weight: bold;
}

h3 {
	font-family: 'Merriweather', serif;
	font-size: 25px;
}

header {
	background-color: black;
	height: 75px;
	padding: 20px 40px;
	border-bottom: 5px solid yellow;
}

header h1 {
	float: left;
}

header nav {
	float: right;
	padding: 5px;
}

a {
	text-decoration: none;
	color: white;
	padding: 5px;
	font-size: 20px;
}

article {
	width: 33.3333%;
	float: left;
	margin: 30px 0;
	padding: 20px;
	line-height: 1.5;
	font-size: 20px;
	border-right: 2px solid #C6C6C6;
}

article:first-child {
	padding-left: 0;
}

article:last-child {
	border-style: none;
	padding-right: 0;
}

footer {
	background: #000000;
	color: white;
	font-size: 20px;
	padding: 20px 30px;
}

nav.responsive-menu {
	display: none;
	background: #C6C6C6;
}

nav.responsive-menu img {
	padding: 10px;
}

section.tagline {
	font-family: 'Merriweather', serif;
	font-size: 25px;
	font-style: italic;
	background: #C6C6C6;
	height: 75px;
	padding: 20px;
}

section.hero {
	background-image: url(../images/coworking.jpg);
	background-size: cover;
	height: 400px;
}

section.hero aside {
	width: 475px;
	height: 300px;
	background: rgba(255, 255, 255, 0.8);
	margin-left: auto;
	margin-right: 30px;
	position: relative;
	top: 30px;
	padding: 40px;
	line-height: 1.5;
	font-size: 20px;
}

section.articles {
	background: #F5F5F5;
	padding: 0 40px;
}

.tagline div {
	width: 535px;
	margin: 0px auto;
}

.strike {
	color: gray;
	text-decoration: line-through;
}

.underline {
	border-bottom: 3px solid yellow;
}

.profile-button {
	background: yellow;
	font-family: 'Oswald', sans-serif;
	margin: 20px 0;
	text-transform: uppercase;
	height: 50px;
	border-radius: 10px;
	border-bottom: 3px solid gray;
	text-align: center;
	padding: 10px;
}

.callout-button {
	background: #C6C6C6;
	text-align: center;
	border-radius: 5px;
	padding: 5px 0;
	font-weight: bold;
	margin-top: 30px;
}

.hide {
	display: none;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

@media only screen and (max-width: 880px) {
	aside {
		color: red;
	}

	header h1 {
		float: none;
	}

	header nav {
		float: none;
		padding: 0;
	}

	a:first-child {
		padding-left: 0;
	}

	article {
		float: none;
		width: auto;
		padding: 0;
		margin: 0;
		padding: 20px 0;
		border: none;
		border-bottom: 2px solid #C6C6C6;
	}
}


@media only screen and (max-width: 560px) {
	aside {
		display: none;
	}

	section.tagline {
		display: none;
	}

	nav.responsive-menu, a {
		display: block;
		text-align: center;
	}

	a {
		border-top: 2px solid white;
	}

	a:last-child {
		border-bottom: 2px solid white;
	}

	header {
		height: 200px;
		padding: 75px 20px;
		text-align: center;
	}

	header nav {
		display: none;
	}
}